@import '../frameworks/variables';

$side-nav-width: 320px;

$pagination-font-color: #0a0101;
$pagination-triggered-font-color: #fff;
$pagination-active-bg-color: #e20101;
$pagination-hover-bg-color: #e20101;
