html,
body {
  background-color: #e5e5e5;
  height: 100%;
}

.container {
  width: 100%;
}

.header,
.footer,
.side-nav {
  background-color: #2e2e2e;
  position: relative;
}

.header {
  background-color: #fff;
  height: auto;
  width: 100%;
  z-index: 100;

  .banner {
    height: inherit;
    width: 100%;
  }
}

.footer {
  color: #fff;
  padding: 0 50px;

  .md-caption {
    font-size: 10px;
    text-align: justify;
  }
}