@import 'app/**/*';
@import 'app/*';

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #009688!important;

  md-icon {
    color: rgba(0,0,0,0.54);
  }
}

md-datepicker.no-icon > .md-datepicker-button {
  display: none;
}

md-dialog-content {
  width: 600px!important;
}

md-toolbar.offense._md._md-toolbar-transitions {
  min-height: 0px !important;
  height: 30px;
}

.btn-custom {
  font-size: 12px;
  height: 1px;
}


.scroller {
  overflow: auto;
  position: fixed;
  max-height: calc(100% - 245px);
  width: calc(100% - 335px);

  &.adjust {
    width: calc(100% - 15px)
  }
}

.sub-line-table {
  &:nth-child(2n) {
    background-color: initial!important;
  }

  &:hover, &:focus {
    background-color: initial!important;
  }

  tr {
    &:not(:last-child) {
      border-bottom: 1px solid rgb(150, 150, 150);
      background-color: inherit;
    }

    &:hover, &:focus {
      background-color: rgba(158,158,158,0.2)!important;
    }
  }
}


.w-300 {
  max-width: 300px!important;
}

.md-fab-bottom-right {
  top: auto !important;
  right: 10px !important;
  bottom: 10px !important;
  left: auto !important;
  position: fixed !important;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
